USE [DBeCredito]
GO
/****** Object:  Table [dbo].[TB_CLIENTE]    Script Date: 03/07/2019 12:25:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[TB_CLIENTE](
	[COD_CLIENTE] [int] IDENTITY(1,1) NOT NULL,
	[NOM_CLIENTE] [varchar](100) NOT NULL,
	[SGL_UF] [char](2) NOT NULL,
	[NRO_CELULAR] [varchar](11) NOT NULL,
 CONSTRAINT [PK_TB_CLIENTE] PRIMARY KEY CLUSTERED 
(
	[COD_CLIENTE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[TB_FINANCIAMENTO]    Script Date: 03/07/2019 12:25:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TB_FINANCIAMENTO](
	[ID_FINANCIAMENTO] [int] IDENTITY(1,1) NOT NULL,
	[ID_TIPO_FINANCIAMENTO] [int] NOT NULL,
	[COD_CLIENTE] [int] NOT NULL,
	[VLR_TOTAL] [float] NOT NULL,
	[QTD_PARCELA] [int] NOT NULL,
	[DTA_CONTRATACAO] [date] NOT NULL,
	[DTA_VENCIMENTO] [date] NOT NULL,
 CONSTRAINT [PK_TB_FINANCIAMENTO] PRIMARY KEY CLUSTERED 
(
	[ID_FINANCIAMENTO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[TB_PARCELA]    Script Date: 03/07/2019 12:25:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TB_PARCELA](
	[ID_FINANCIAMENTO] [int] NOT NULL,
	[NRO_PARCELA] [int] NOT NULL,
	[VLR_PARCELA] [float] NOT NULL,
	[DTA_VENCIMENTO] [datetime] NOT NULL,
	[DTA_PAGAMENTO] [datetime] NULL,
 CONSTRAINT [PK_TB_PARCELA] PRIMARY KEY CLUSTERED 
(
	[ID_FINANCIAMENTO] ASC,
	[NRO_PARCELA] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[TB_TIPO_FINANCIAMENTO]    Script Date: 03/07/2019 12:25:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[TB_TIPO_FINANCIAMENTO](
	[ID_TIPO_FINANCIAMENTO] [int] IDENTITY(1,1) NOT NULL,
	[DSC_TIPO_FINANCAMENTO] [varchar](50) NOT NULL,
	[PER_TAXA] [float] NOT NULL,
 CONSTRAINT [PK_TB_TIPO_FINANCIAMENTO] PRIMARY KEY CLUSTERED 
(
	[ID_TIPO_FINANCIAMENTO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
ALTER TABLE [dbo].[TB_FINANCIAMENTO]  WITH CHECK ADD  CONSTRAINT [FK_TB_FINANCIAMENTO_TB_CLIENTE] FOREIGN KEY([COD_CLIENTE])
REFERENCES [dbo].[TB_CLIENTE] ([COD_CLIENTE])
GO
ALTER TABLE [dbo].[TB_FINANCIAMENTO] CHECK CONSTRAINT [FK_TB_FINANCIAMENTO_TB_CLIENTE]
GO
ALTER TABLE [dbo].[TB_FINANCIAMENTO]  WITH CHECK ADD  CONSTRAINT [FK_TB_FINANCIAMENTO_TB_TIPO_FINANCIAMENTO] FOREIGN KEY([ID_TIPO_FINANCIAMENTO])
REFERENCES [dbo].[TB_TIPO_FINANCIAMENTO] ([ID_TIPO_FINANCIAMENTO])
GO
ALTER TABLE [dbo].[TB_FINANCIAMENTO] CHECK CONSTRAINT [FK_TB_FINANCIAMENTO_TB_TIPO_FINANCIAMENTO]
GO
ALTER TABLE [dbo].[TB_PARCELA]  WITH CHECK ADD  CONSTRAINT [FK_TB_PARCELA_TB_FINANCIAMENTO] FOREIGN KEY([ID_FINANCIAMENTO])
REFERENCES [dbo].[TB_FINANCIAMENTO] ([ID_FINANCIAMENTO])
GO
ALTER TABLE [dbo].[TB_PARCELA] CHECK CONSTRAINT [FK_TB_PARCELA_TB_FINANCIAMENTO]
GO
